"""
{{ description }}
"""

from kohakuterrarium.core.events import TriggerEvent
from kohakuterrarium.modules.input.base import BaseInputModule


class {{ class_name }}(BaseInputModule):
    """Input module: {{ name }}."""

    async def get_input(self) -> TriggerEvent | None:
{{ body | indent(8, True) }}
